@page
@model mecanico_plus.Pages.Principal.Perfil.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="margin-bottom: 20px;" class="text-3xl font-bold">Editar</h1>

<h4 style="margin-bottom: 20px;" class="text-xl font-medium">Perfil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="t004_perfil.f004_rowid" />
@*             <div class="form-group">
                <label asp-for="t004_perfil.f004_ts" class="control-label"></label>
                <input asp-for="t004_perfil.f004_ts" class="form-control" />
                <span asp-validation-for="t004_perfil.f004_ts" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="t004_perfil.f004_id" class="control-label"></label>
                <input asp-for="t004_perfil.f004_id" class="form-control" />
                <span asp-validation-for="t004_perfil.f004_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t004_perfil.f004_nombre" class="control-label"></label>
                <input asp-for="t004_perfil.f004_nombre" class="form-control" />
                <span asp-validation-for="t004_perfil.f004_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t004_perfil.f004_descripcion" class="control-label"></label>
                <input asp-for="t004_perfil.f004_descripcion" class="form-control" />
                <span asp-validation-for="t004_perfil.f004_descripcion" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="t004_perfil.f004_rowid_empresa_o_persona_natural" class="control-label"></label>
                <select asp-for="t004_perfil.f004_rowid_empresa_o_persona_natural" class="form-control" asp-items="ViewBag.f004_rowid_empresa_o_persona_natural"></select>
                <span asp-validation-for="t004_perfil.f004_rowid_empresa_o_persona_natural" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Editar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
