@page
@model mecanico_plus.Pages.Principal.Inventario.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="margin-bottom: 20px;" class="text-3xl font-bold">Crear</h1>

<h4 style="margin-bottom: 20px;" class="text-xl font-medium">Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   @*          <div class="form-group">
                <label asp-for="t015_inventario.f015_ts" class="control-label"></label>
                <input asp-for="t015_inventario.f015_ts" class="form-control" />
                <span asp-validation-for="t015_inventario.f015_ts" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="t015_inventario.f015_id" class="control-label"></label>
                <input asp-for="t015_inventario.f015_id" class="form-control" />
                <span asp-validation-for="t015_inventario.f015_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="t015_inventario.f015_nombre" class="control-label"></label>
                <input asp-for="t015_inventario.f015_nombre" class="form-control" />
                <span asp-validation-for="t015_inventario.f015_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t015_inventario.f015_descripcion" class="control-label"></label>
                <input asp-for="t015_inventario.f015_descripcion" class="form-control" />
                <span asp-validation-for="t015_inventario.f015_descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="t015_inventario.f015_cantidad_disponible" class="control-label"></label>
                <input asp-for="t015_inventario.f015_cantidad_disponible" class="form-control" />
                <span asp-validation-for="t015_inventario.f015_cantidad_disponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="t015_inventario.f015_precio_unitario" class="control-label"></label>
                <input asp-for="t015_inventario.f015_precio_unitario" class="form-control" />
                <span asp-validation-for="t015_inventario.f015_precio_unitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t015_inventario.f015_rowid_empresa_o_persona_natural" class="control-label"></label>
                <select asp-for="t015_inventario.f015_rowid_empresa_o_persona_natural" class ="form-control" asp-items="ViewBag.f015_rowid_empresa_o_persona_natural"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
